* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 1px solid red;
}

/* X ruimtes tussen de blokken */
/* X article is niet groot genoeg */
/* X mobiele layout */

body {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px 80px auto 50px;
  grid-template-areas:
    "header header"
    "article small-sidebar"
    "article big-sidebar"
    "footer big-sidebar";
  gap: 16px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: papayawhip;
  grid-area: header;
}

.small-sidebar {
  background-color: purple;
  grid-area: small-sidebar;
}

.big-sidebar {
  background-color: salmon;
  grid-area: big-sidebar;
}

article {
  background-color: dodgerblue;
  grid-area: article;
  padding: 16px;
}

footer {
  background-color: gold;
  grid-area: footer;
}

@media screen and (max-width: 375px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "small-sidebar"
      "big-sidebar"
      "article"
      "footer";
    grid-template-rows: 100px 80px auto auto 50px;
  }

  header {
    background-color: fuchsia;
  }
}
